{% extends 'base.html.twig' %}

{% block title %}Create new category{% endblock %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
        {{form(form)}}
        </div>
    </div>

{% endblock %}
