{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


{% for post in posts %}
    <div class="mt-4">
        <p class="h3">
            {{post.name}} 
        </p>
            <em>{{post.createdAt|date()}}</em>
        
        <p class="h6">{{post.description}}</p>
        <audio controls class="" width="300" height="32" >
            <source src="{{asset('uploads/audio/') ~ post.trackname }}">
        </audio>
    </div>
{% endfor %}

{% endblock %}
