{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row mt-4">
    
        <div class="col-4">
            <h3>{{user.nickname}}</h3>
            <h5>{{user.email}}</h5>

            <a role="button" class="btn btn-primary" href="{{path('user.update', {id: user.id})}}">Update</a>
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="{{asset('uploads/images/' ~ user.profileImage)}}">
        </div>
    
    </div>

{% endblock %}
